/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
    font-size: 62.5%;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-size: 62.5%;
    background-color: #acacac;
    font-family: Arial, Helvetica, sans-serif;
}
a,
p {
    font-size: 1.8rem;
    line-height: 2.7rem;
}
a {
    text-decoration: none;
}
label {
    font-size: 1.5rem;
    margin: 0 0 0 1.8rem;
}
.logonUser {
    display: flex;
    justify-content: right;
    margin: 1.5rem 0;
}
.logonUser p {
    padding: 0 1rem;
}
.signInput {
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0.5rem;
}
.signBtn {
    background-color: #cd7f32;
    color: #fff;
    border: 2px solid #b06500;
    border-radius: 4px;
    padding: 0.5rem 2rem;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}
.posts {
    background-color: #fff;
    padding: 1rem;
    border: #000 solid 2px;
}
.delBtn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #0000ee;
    text-decoration: underline #0000ee solid 2px;
    padding-left: 1rem;
}
.addPostForm {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
